---
layout: default
---

<div class="index">
{% for post in site.posts limit:8 %}
	<article>
		<p class="datart">{{ post.date | date: "%d . %m . %Y" }}</p>
		<div class="fix">
			<a href="{{ post.url }}" class="titleindex">{{ post.title }}</a>
		{% for cat in post.categories limit:5 %}
			<span class="spright">&nbsp;&middot; <a href="/categories/{{ cat }}/" class="cat">{{ cat }}</a></span>
		{% endfor %}
		</div>
		{% if post.content != null %}
		<div class="desc">
		{{ post.content | truncatewords:70 }}
		<p class="more"><a href="{{ post.url }}">Lire la suite &rarr;</a></p>
		</div>
		{% endif %}
		<div class="barart"></div>
	</article>
{% endfor %}
	<div class="archold">
		<a href="/archives/">&rarr; Anciens Articles &larr;</a>
	</div>

</div>
