<!DOCTYPE html>
<html lang="fr">
<head>
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta charset="utf-8" />
	<meta name="author" content="{{ site.author }}" />
	{% if site.description %}
	<meta name="description" content="{{ site.description }}" />
	{% endif %}
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
	<link rel="alternate" type="application/rss+xml" title="Flux RSS" href="/atom.xml" />
	<link rel="icon" type="image/png" href="/assets/images/favicon.png" />
	{% if page.title %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }} - {{ site.description }}</title>
	{% endif %}
	{% include stats.html %}
</head>
<body>
	<div class="container">
	{% include widthalrt.html %}
	<div><a href="https://github.com/Ypnose?tab=repositories" class="githubrib">Fork Me</a></div>
	<header>
		<a href="/" title="Dans la Tête du Linuxien"></a>
	</header>

	<nav>
		<ul>
		<li><a href="/">/root</a> &middot;</li>
		<li><a href="/archives">Archives</a> &middot;</li>
		<li><a href="/hardware">Hardware</a> &middot;</li>
		<li><a href="/qui-suis-je">Qui suis-je?</a> &middot;</li>
		<li><a href="/a-savoir">À savoir</a> &middot;</li>
		<li><a href="/me-contacter">Me contacter</a> &middot;</li>
		<li><a href="/atom.xml">RSS</a></li>
		</ul>
	</nav>

	<div class="barnav"></div>

	{{ content }}

	<div class="barfoot"></div>

	<footer>
		<div>
			<a href="/archives">Archives</a>  &#124;
			<a href="https://github.com/Ypnose">Github</a>  &#124;
			<a href="https://bitbucket.org/Ypnose">Bitbucket</a>  &#124;
			<a href="https://twitter.com/tetedulinuxien/">Twitter</a>
		</div>
		<div>
			Blog amis:
			<a href="http://lazonelibre.eklablog.com/">Dempiller</a>  &#124;
			<a href="http://schoewilliam.legtux.org/">Schoewilliam</a>  &#124;
			<a href="http://blog.rolinh.ch/">Rolinh</a>  &#124;
			<a href="http://postblue.info/">Postblue</a>
		</div>
		<div>
			Copyright &copy; "{{ site.title }}" 2011 / {{ site.time | date: "%Y" }} 
			- Design par<a href="/qui-suis-je">{{ site.author }}</a>
		</div>
		<div>
			<a href="http://validator.w3.org/check?uri=http%3A%2F%2Ftetedulinuxien.fr&charset=%28detect+automatically%29&doctype=Inline&group=0"><img src="/assets/images/html5.png" alt="html5" /></a>
			<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Ftetedulinuxien.fr&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en"><img src="/assets/images/css3.png" alt="css3" /></a>
		</div>
	</footer>
	</div>
		<div id="button"><a href="#">&uarr;&uarr;</a></div>
</body>
</html>
