---
layout: default
---

	<article>
		<div id="infobox">
			<h1>{{ page.title }}</h1>
			<p>
				Par <a href="/qui-suis-je/">{{ site.author }}</a> - le {{ page.date | date: "%d.%m.%Y" }}
			</p>
			<p>
				{% for cat in page.categories limit:5 %}<span> &rarr; </span><a href="/categories/{{ cat }}/">{{ cat }}</a>{% endfor %}
			</p>
		</div>

		{{ content }}
	</article>

	<div class="difart">
		{% if page.previous %}<p class="prevart"><a href="{{ page.previous.url }}" title="Article précédent: {{ page.previous.title }}">
			<img src="/assets/images/arrowp.png" alt="prec" />{{ page.previous.title | truncate:36 }}</a>
		</p>{% endif %}
		{% if page.next %}<p class="nextart"><a href="{{ page.next.url }}" title="Article suivant: {{ page.next.title }}">
			{{ page.next.title | truncate:36 }}<img src="/assets/images/arrown.png" alt="suiv" /></a>
		</p>{% endif %}
	</div>
